* {
  box-sizing: border-box;
}

/* Fonts */

:root {
  --ids__font-family: "Roboto Flex", "Root UI", system-ui, -apple-system, sans-serif;
  --ids__font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96,
    "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514,
    "YTUC" 712;
}

@font-face {
  font-family: "Root UI";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/pt-root-ui_vf.woff2") format("woff2"),
    url("../fonts/pt-root-ui_vf.woff") format("woff");
  font-weight: 300 700;
}

body {
  --ids__font-family: "Roboto Flex", "Root UI", system-ui, -apple-system, sans-serif;
  --ids__font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96,
    "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514,
    "YTUC" 712;
  font-family: var(--ids__font-family);
  font-variation-settings: var(--ids__font-variation-settings);
  font-style: normal;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;  
}

/* Density and radius */

:root {
  --ids__density: 1.3;
  --ids__radius: 1.5em;
}

body {
  font-size: 1em;
  line-height: var(--ids__density);
}


html {
  /* Font-size calculation using variables */

  --mobile-font-size-min: 14;
  --mobile-font-size-max: 32;

  --desktop-font-size-min: 11.5;
  --desktop-font-size-max: 22.5;

  --mobile-viewport-min: 320;
  --mobile-desktop-breakpoint: 768;
  --desktop-viewport-max: 1500;

  font-size: calc(var(--mobile-font-size-min) * 1px);

  @media screen and (min-width: 320px) {
    font-size: calc(
      var(--mobile-font-size-min) * 1px +
        (var(--mobile-font-size-max) - var(--mobile-font-size-min)) *
        (
          (100vw - var(--mobile-viewport-min) * 1px) /
            (var(--mobile-desktop-breakpoint) - var(--mobile-viewport-min))
        )
    );
  }

  @media screen and (min-width: 768px) {
    font-size: calc(
      var(--desktop-font-size-min) * 1px +
        (var(--desktop-font-size-max) - var(--desktop-font-size-min)) *
        (
          (100vw - var(--mobile-desktop-breakpoint) * 1px) /
            (var(--desktop-viewport-max) - var(--mobile-desktop-breakpoint))
        )
    );
  }

  @media screen and (min-width: 1500px) {
    font-size: calc(var(--desktop-font-size-max) * 1px);
  }

  
}

/* Smooth scroll for anchored links */

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
